body { margin: 0; }
/* About Styling */
@media (max-width: 800px){
.about {
    flex-wrap: wrap;
}
}
@media (max-width: 800px){
.owners {
    margin: 3em;
    width: 100%;
}
}
.about {
    border-bottom: 7;
    display: flex;
    height: auto;
    padding: 3em 0;
    width: 100%;
}
.about-content{
    margin-left: 7em;
    margin-right: 5em;
    width: 40%;
    display: block;
}
.about-content h4{
    color: #000;
    font-size: 60px;
    font-weight: 700;
    font-family: Markazi Text,serif;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
}

.about-content h5{
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-top: -2.5em;
    font-family: Markazi Text,serif;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.about-content p {
    color: #000;
    font-family: karla,sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    margin-top: -1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;

}

.owners{
    width: 50%;
    display: block;
}
#chefs, #restaurant {
    box-shadow:  3px 3px 15px rgb(0, 0, 0,.2);
    height: 60%;
}
#chefs {
    margin-left: 10em;
    margin-top: 1em;
    width: 50%;
}
#restaurant{
    margin-left: 2em;
    margin-top: -10em;
    width: 40%;
}
img{
    overflow-clip-margin: content-box;
    overflow:clip;
}

/* Banner Styling */
@media(max-width: 800px){
    .banner-content{
        display: flex;
        width: auto;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        flex-direction: row;
        height:auto;
        width: fit-content;
    }
}
.banner-box {
    height: 550;
    background-Color: #495e57;
    padding-Left: 30;
    padding-Top: 40;
    color: rgb(245, 245, 245);
}
.featured img {
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    height: 600px;
    margin-top: em;
    margin-left: 6em;
    width: 90%;
    padding-left: 20;
    margin-left: -25%;
    align-self: flex-end;
}
/* Dishcard Styling */
@media (max-width: 800px){
    .dishcard{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}
#dish-image {
    width: 100%;
    height: 15rem;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: top;
}
/* Footer Styling */
.footer-img {
    margin: 0;
    text-align: center;
    width: 50%;
    overflow-clip-margin: content-box;
    overflow: clip;
    --rem: 16;
}
@media (max-width: 800px){
.footer
    {
        flex-wrap: wrap;
        text-align: center;
    }
}
.footer{
    margin-top: 100;
    display: flex;
    flex-Grow: 1;
    height: 400;
    border-top: 10px;;
    border-Color: "#495e57" ;
}

@media (max-width: 800px){
    .socials, .contact, .navigation {
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    }
    .socials, .contact, .navigation{
        margin: 2em 6em 2em;
        display: flex;
        flex-direction: row;
    }
    #nav, .a{
        color: #000;
        font-family: Karla,sans-serif;
        font-weight: 900;
        font-weight: bold;
        list-style: none;
        text-decoration: none;
    }
    h5{
    font-size: 30px;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    list-style-type: none;
}
li {
    margin: 10px 0;
    text-align: -webkit-match-parent;
    list-style-type: none;
    font-weight:bold;
}
/*  ResponsiveHeader Styling*/
@media (max-width: 1050){
.logo img {
    width: 75%;
}
}
.logo img{
    height: auto;
}
/* Specials Styling */
.onlinemenu-button button{
    height: 3em;
    width: 12em;
    border: none;
    padding-block: 1px;
    padding-inline: 6px;
    font-Family: "Karla,sans-serif";
    font-Size: 18px;
    font-Weight: 800;
    border-Radius: 2em;
    color: #000;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    cursor: default;
}
/* Testimonials Styling */
#profile-img{
    border-radius: 50%;
    margin: 16px;
    width: 30%;
    text-align:center;
}
.review-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: auto;
}
.review{
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    height: 250px;
    margin: 2em;
    width: 250px;
    border-spacing: 2;
    text-align: center;
}
.review h2{
    color: #000;
    font-family: "Markazi Text,serif";
    font-size: 25px;
    margin: 0.1em;
    text-align: center;
}
.testimonial-header {
    color: #f4ce14;
    display: block;
    font-size: 30px;
    font-weight: 700;
    font-family: Markazi Text, serif;
    margin: 40.2px 0px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 420;
    text-align: center;
}
.testimonial-box{
    height: 550;
    background-Color: #495e57;
    padding-left: 30;
    padding-top: 40;
    color: white;
}